{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		<h1 class="mt-4">{{ 'admin_panel.products'|trans }}</h1>
		<div class="mb-3">
			<a href="{{ path('app_product_add') }}" class="btn btn-primary">{{ 'add_new_product'|trans }}</a>
		</div>

		<table class="table table-striped" id="show-product" style="border: 2px solid black; border-collapse: collapse;">
			<thead>
				<tr>
					<th style="border: none;">{{ 'ID'|trans }}</th>
					<th style="border: none;">{{ 'name'|trans }}</th>
					<th style="border: none;">{{ 'price'|trans }}</th>
					<th style="border: none;">{{ 'description'|trans }}</th>
					<th style="border: none;">{{ 'stock'|trans }}</th>
					<th style="border: none;">{{ 'status'|trans }}</th>
                    <th style="border: none;">{{ 'category'|trans }}</th>
					<th style="border: none;">{{ 'actions'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for product in pagination %}
					<tr>
						<td style="border: none;">{{ product.id }}</td>
						<td style="border: none;">{{ product.name }}</td>
						<td style="border: none;">{{ product.price }}</td>
						<td style="border: none;">{{ product.description }}</td>
						<td style="border: none;">{{ product.stock }}</td>
						<td style="border: none;">{{ product.status.toString() }}</td>
                        <td style="border: none;">{{ product.category.name }}</td>

						<td style="border: none;">
							<a href="{{ path('app_product_edit', { id: product.id }) }}" class="btn btn-warning btn-sm">{{ 'edit'|trans }}</a>
							<form action="{{ path('app_product_delete', { id: product.id }) }}" method="post" style="display:inline;">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
								<button class="btn btn-danger btn-sm" type="submit">{{ 'delete'|trans }}</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6" class="text-center">{{ 'no_products_found'|trans }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="mt-3">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}