{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4"> 
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            {% for product in products %}
                {% if product.stock > 0 %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm border-light rounded">
                            <div class="card-body">
                                <h5 class="card-title text-primary">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text font-weight-bold">{{ product.price }} €</p>
                                <p class="card-text text-muted">Stock: {{ product.stock }}</p>
                                <p class="card-text text-muted">Statut: {{ product.status.toString() }}</p>
                                <p class="card-text text-muted">Catégorie: {{ product.category.name }}</p>

                                {% if product.images is not empty %}
                                    <img src="{{ asset(product.images[0].url) }}" alt="{{ product.name }}" class="img-fluid mb-3">
                                {% else %}
                                    <p>Aucune image disponible</p>
                                {% endif %}

                                <form action="{{ path('app_panier_ajouter') }}" method="POST">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <div class="d-flex align-items-center">
                                        <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" class="form-control mr-2" style="width: 70px;">
                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-success btn-sm">Ajouter au panier</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-12">
                    <p>{{ 'no_products_found'|trans }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between mt-3">
            <a href="{{ path('app_panier') }}" class="btn btn-primary btn-lg">Voir le panier</a>
        </div>
    </div>
{% endblock %}